@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
.canvas-elementos {
    position: relative;
    width: 500px;
    height: 500px;
    border: 3px solid #bdbdbd;
    border-radius: 8px;
}

#titulo{
    text-align: center;
    color: rgb(43, 96, 243);
    
}

#titulo:hover{
    filter: brightness(50%);
}

body{
    background: #f0f0f5;
}
.canvas-elementos * {
    cursor: pointer;
    list-style: none;
}

.canvas-tela {
    cursor: pointer;
    background: #fff;
    
}


.canvas-limpar {
    position: absolute;
    top: 6px;
    right: 6px;
}

.canvas-limpar > li {
    float: left;
    width: 24px;
    height: 24px;
    opacity: .5;
    transition: opacity .2s ease-in-out;
}
.canvas-limpar > li:hover {
    cursor: pointer;
    opacity: 1;
}
.canvas-limpar > li.clear {
    background: url("../img/cross.png") no-repeat 2px 2px;
    background-size: 83.3%;
}

.canvas-brush{
    position: absolute;
    top: 150px;
    rotate: 90deg;
    float: left;
    margin-left: -90px;
    
}

.canvas-cores {
    position: absolute;
    top: 6px;
    left: 0;
    padding: 6px;
}

.canvas-cores > li {
    float: left;
    width: 16px;;
    height: 16px;
    margin-left: 6px;
    border: 2px solid #222;
    transition: .2s ease-in-out;
}

.canvas-cores > li:hover,
.canvas-cores > li.current {
    box-shadow: 0 0 6px #222;
}
.canvas-cores > li[data-color=blue] {
    background-color: #4b6cff;
}
.canvas-cores > li[data-color=green] {
    background-color: #5cb85c;
}
.canvas-cores > li[data-color=yellow] {
    background-color: #f0ad4e;
}
.canvas-cores > li[data-color=pink] {
    background-color: #ffc8e6;
}
.canvas-cores > li[data-color=purple] {
    background-color: #d26efa;
}
.canvas-cores > li[data-color=red] {
    background-color: #d9534f;
}
.canvas-cores > li[data-color=black] {
    background-color: #222;
}
.canvas-cores > li[data-color=white] {
    background-color: #fff;
}